# ignore private settings
*.DS_Store
files/.vim/plugged/
files/.vim/autoload/
files/.vim/.netrwhist
files/.zsh-tmeisenh-dotfiles/private.zsh
files/.zsh-tmeisenh-dotfiles/projects
files/.zsh-tmeisenh-dotfiles/host*.zsh
**/*.zwc
.claude
