[user]
name = Travis Meisenheimer
email = travis@indexoutofbounds.com
signingkey = FC14F9C3

[github]
user = tmeisenh

[color]
ui = auto
interactive = auto
status = auto
commit = auto
diff = auto
branch = auto

[apply]
whitespace = strip
whitespace = nowarn

[alias]
br = branch
ci = commit --verbose
cia = commit --amend --no-edit
co = checkout
dc = diff --cached
di = diff
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
csv= log --format=format:%H|%an|%d|%cs
p = push -u origin HEAD
punch = push --force-with-lease
rhu = !git fetch && git reset --hard @{u}
rl = reflog --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
remaster = !git fetch && git rebase origin/master
remain = !git fetch && git rebase origin/main
; rebar = !git fetch && git rebase --interactive origin/master 
st = status
stats=shortlog --numbered --summary
staged = diff --staged
sub = submodule update --init --recursive
svn-pull = !git svn fetch && git svn rebase
svn-push = !git svn dcommit
uncommit = reset --soft HEAD^
unstage = reset HEAD --

[core]
excludesfile = ~/.gitignore_global

[include]
path = .gitconfig.local

[push]
default = simple

[pull]
rebase = true

[init]
defaultBranch = master

; Include gitconfig for work that over-rides name/email/key and isn't stored dotfiles.
[include]
path = ~/.gitconfig.work
